.login > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login button {
  padding: 10px;
  border-radius: 10px;
  background-color: #009688;
  color: #fff;
  font-size: 16px;
  margin: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.login input {
  outline: none;
  height: 20px;
  margin: 10px;
}
